@page "/"
@using WebAssemblyWithAPI.Shared
@using MediatR
@using WebAssemblyWithAPI.Shared.Queries
@inject IBus _bus

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app. You are connected to the server described here.</p>
@if (_info != null)
{
    <p>@nameof(_info.OperatingSystem): @_info.OperatingSystem</p>
    <p>@nameof(_info.Version): @_info.Version</p>
    <p>@nameof(_info.MachineName): @_info.MachineName</p>
}

<SurveyPrompt Title="How is Blazor working for you?"/>

@code
{
    ServerInfo? _info = new ServerInfo("ERROR", "ERROR", "ERROR");

    protected override async Task OnInitializedAsync()
    {

        try
        {
            _info = await _bus.Send(new ServerInfoQuery());
        }
        catch (Exception e)
        {
        }
    }
}